:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

:host > * {
  margin-bottom: 20px;
}

button {
  margin: 10px;
}

kendo-buttongroup button {
  margin: 0;
}
