<div class="todo-comp-wrapper">

  <div @todoAnimations class="todo-list-wrapper">
    <h1>What good shall I do today?</h1>
    <input kendoTextBox 
      #itemInput 
      (keyup.enter)="addTodo(itemInput)" 
      placeholder="Add a todo item" 
      class="new-todo-input" />

    <div *ngIf="todos" class="list-group">
      <button kendoButton type="button" class="todo" @todoItem
        *ngFor="let todo of todos; index as i">
        <span class="to-do-title" (click)="removeTodo(i)">{{todo.item}}</span>
        <kendo-timepicker [(value)]="todo.due" (valueChange)="onTimeChange()"></kendo-timepicker>
      </button>
    </div>
    <div *ngIf="todos.length == 0" @fade class="finished-list">Fin</div>
  </div>

   <kendo-chart>
     <kendo-chart-title text="Busiest time of day"></kendo-chart-title>
     
     <kendo-chart-series>
       <kendo-chart-series-item
         [data]="hourlyTodos"
         [name]="field"
         field="items.length"
         categoryField="humanizedValue"
         type="column">
       </kendo-chart-series-item>
     </kendo-chart-series>
   </kendo-chart>

</div>